<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>NYSL</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="./resources/css/styles.css" type="text/css" rel="stylesheet">
    <link href="./resources/css/congress.css" type="text/css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/6959a909c1.js" crossorigin="anonymous"></script>

</head>
<body class="bg-secondary">
<header class="header">
    <nav id="navbar" class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
        <a class="navbar-brand" href="./index.html">USA Open Gov</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li id="home" class="nav-item">
                    <a id="homeLink" class="nav-link" href="./index.html">Home <span
                            class="sr-only">(current)</span></a>
                </li>
                <li id="congressListItem" class="nav-item dropdown">
                    <div id="congress" class="active">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false" href="#" id="congressDropdownMenuLink">
                            Congress {{ number }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="congressDropdownMenuLink">
                            <a id="congressSenate" class="dropdown-item" href="./congress.html?senate">Senate</a>
                            <a id="congressHouse" class="dropdown-item" href="./congress.html?house">House</a>
                            <form class="dropdown-item" onsubmit="return false;">
                                <button id="incrementCongressBtn" v-on:click="decrementCongress()"
                                        class="btn btn-secondary d-inline">-
                                </button>
                                <p class="dropdown-item d-inline">{{ number }}</p>
                                <button id="decrementCongressBtn" v-on:click="incrementCongress()"
                                        class="btn btn-secondary d-inline">+
                                </button>
                            </form>
                        </div>
                    </div>
                </li>
                <li id="attendanceListItem" class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" href="#" id="attendanceDropdownMenuLink">
                        Attendance
                    </a>
                    <div class="dropdown-menu" aria-labelledby="attendanceDropdownMenuLink">
                        <a id="attendanceSenate" class="dropdown-item"
                           href="./congress-attendance.html?senate">Senate</a>
                        <a id="attendanceHouse" class="dropdown-item" href="./congress-attendance.html?house">House</a>
                    </div>
                </li>
                <li id="partyLoyaltyListItem" class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false" href="#" id="partyLoyaltyDropdownMenuLink">
                        Party Loyalty
                    </a>
                    <div class="dropdown-menu" aria-labelledby="partyLoyaltyDropdownMenuLink">
                        <a id="partyLoyaltySenate" class="dropdown-item" href="#">Senate</a>
                        <a id="partyLoyaltyHouse" class="dropdown-item" href="#">House</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main role="main" class="inner cover bg-light pt-3 mt-5">
    <div id="app">
        <h1 class="cover-heading text-center"> {{ getCongressHeading }} </h1>
        <p class="lead text-center"> {{ getCongressText }} </p>
        <hr class="my-4">
        <div class="row py-5">
            <div class="col-8 my-auto">
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="partyFilter"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by party
                    </button>
                    <div class="dropdown-menu px-2" aria-labelledby="partyFilter">
                        <form id="filterByParty">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filterAllParties">
                                <label class="custom-control-label no-select" for="filterAllParties">Select All</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filterRepublican"
                                       name="partyFilters[]" value="R">
                                <label class="custom-control-label no-select" for="filterRepublican">Republican</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filterDemocrat"
                                       name="partyFilters[]" value="D">
                                <label class="custom-control-label no-select" for="filterDemocrat">Democrat</label>
                            </div>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filterIndependent"
                                       name="partyFilters[]" value="ID">
                                <label class="custom-control-label no-select"
                                       for="filterIndependent">Independent</label>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="dropdown d-inline">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="stateFilter"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Filter by state
                    </button>
                    <div class="dropdown-menu scrollable-menu px-2" aria-labelledby="stateFilter">
                        <form id="filterByState">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="filterAllStates">
                                <label class="custom-control-label no-select" for="filterAllStates">Select All</label>
                            </div>
                            <state-checkbox
                                    v-for="state in states"
                                    v-bind:key="state.id"
                                    v-bind:state="state">
                            </state-checkbox>
                        </form>
                    </div>
                </div>
                <div id="sortDropdown" class="dropright">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="sortMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                            class="fas fa-sort-alpha-up"></i> Sort on first name
                    </button>
                    <div class="dropdown-menu " aria-labelledby="sortMenuButton">
                        <a id="sortFirstName" class="dropdown-item"><i class="fas fa-sort-alpha-up"></i> Sort on first
                            name</a>
                        <div class="dropdown-divider"></div>
                        <a id="sortLastName" class="dropdown-item "><i class="fas fa-sort-alpha-up"></i> Sort on last
                            name</a>
                        <div class="dropdown-divider"></div>
                        <a id="sortParty" class="dropdown-item "><i class="fas fa-sort-alpha-up"></i> Sort on party</a>
                        <div class="dropdown-divider"></div>
                        <a id="sortState" class="dropdown-item "><i class="fas fa-sort-alpha-up"></i> Sort on state</a>
                        <div class="dropdown-divider"></div>
                        <a id="sortDistrict" v-if="houseMembers.length > 0" class="dropdown-item "><i
                                class="fas fa-sort-alpha-up"></i> Sort on district</a>
                        <div class="dropdown-divider"></div>
                        <a id="sortSeniority" class="dropdown-item "><i class="fas fa-sort-numeric-up"></i> Sort on
                            seniority</a>
                        <div class="dropdown-divider"></div>
                        <a id="sortVotesWith" class="dropdown-item "><i class="fas fa-sort-numeric-up"></i> Sort on
                            votes
                            with party</a>
                        <div class="dropdown-divider"></div>
                        <a id="sortVotesAgainst" class="dropdown-item "><i class="fas fa-sort-numeric-up"></i> Sort on
                            votes against party </a>
                    </div>
                </div>
                <button id="displayButton" class="btn btn-secondary" v-on:click="swapDisplay">
                    <i class="fas fa-grip-vertical"></i>
                </button>
            </div>
            <div class="col-4">
                <form class="form-inline my-2 my-lg-0 float-right">
                    <input id="searchByName" class="form-control mr-sm-2" type="text" placeholder="Search"
                           aria-label="Search" v-model="searchQuery">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
                </form>
            </div>
        </div>
        <div :is="currentDisplay" v-bind:current-house-component="currentHouseComponent"
             v-bind:current-senate-component="currentSenateComponent"
             v-bind:senate-members="senateMembers" v-bind:house-members="houseMembers" v-bind:states="states"
             v-bind:get-state-name="getStateName">
        </div>
    </div>
</main>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script src="scripts/getCongressMembers.js" type="module" defer></script>
<script src="scripts/renderCongress.js" type="module"></script>
</body>
</html>