/* latin */
@font-face {
	font-family: 'Solway';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Solway Regular'), local('Solway-Regular'), url(https://fonts.gstatic.com/s/solway/v1/AMOQz46Cs2uTAOCmhXo8.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media only screen and (min-height: 1200px){
	.nav{
		position: static;
	}
}
#gameinfo{
	margin: 0px;
}

.schedule-header{
	text-transform: uppercase;
	background-color: #005911;
	color: white;
	font-family: 'Solway', serif;
	padding: 8px;
	text-align: center;
}

.schedule-section{
	padding: 40px 20px 12px 20px;
}

.schedule-container{
	width: 100%;
	max-width: 100vw;
}

.month-heading{
	text-transform: uppercase;
	min-width: 25%;

}

.month-table{
	width: 100%;
}

.month-table th{
	text-decoration: underline;
}

.month-table td{
	vertical-align: top;
}

.location-table{
	width: 100%;
}

.location-table a{
	color: green;
	text-decoration: underline;
}

.map{
	width: 100%;
	min-height: 40vw;
}

.map iframe{
	padding-top: 20px;
	width: 100%;
	height: 40vw;
}

