/* latin-ext */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhd_eFb5N.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url(https://fonts.gstatic.com/s/ibmplexsans/v7/zYXgKVElMYYaJe8bpLHnCwDKhdHeFQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Serif'), local('IBMPlexSerif'), url(https://fonts.gstatic.com/s/ibmplexserif/v8/jizDREVNn1dOx-zrZ2X3pZvkTiUR2zcLig.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 400;
  src: local('IBM Plex Serif'), local('IBMPlexSerif'), url(https://fonts.gstatic.com/s/ibmplexserif/v8/jizDREVNn1dOx-zrZ2X3pZvkTiUf2zc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
	box-sizing: border-box;
}

h1{
	text-transform: uppercase;
}

p{
	width: 50%;
}

main{
	margin: 0px;
}
.mission-container{
	position: relative;
	width: 100%;
	min-height: 130vh;
	height: 100%;
	background-image: url(../image4.jpg);
	background-size: cover;
	background-position: 0% 40%;
}

.mission-caption{
	color: white;
	position: absolute;
	bottom: 64px;
	left: 24px;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-family: 'IBM Plex Sans', sans-serif;
}

.mission-caption h1{
	text-transform: uppercase;
}

.vision-container{
	position: relative;
	width: 100%;
	min-height: 130vh;
	background-image: url(../image5.png);
	background-size: cover;
}

.vision-caption{
	color: white;
	margin: auto;
	padding: 500px 0px;
	width:50%;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-family: 'IBM Plex Sans', sans-serif;
	text-align: center;
}

.vision-caption p{
	width: 100%;
}

.general-container{
	font-family: 'IBM Plex Sans';
	height: 100%;
	min-height: 100vh;
	text-align: center;
	position: relative;
}

.general-container-bg{
	background-image: url(../soccerpattern-03.jpg);
	height: 100%;
	width: 100%;
	position: absolute;
	background-size: contain;
	opacity: 0.1;
	z-index: -1;
}

.general-container h1{
	padding: 40vh 0px 0px 0px;
}

.general-container p{
	margin: 0 auto;
}

.general-container h6{
	position: absolute;
	margin: 0 auto;
	width: 100%;
	bottom: 20px;
	font-size: 12px;
	font-family: 'IBM Plex Serif'
}

