.index-body {
	background-image: url("https://cdn.hipwallpaper.com/i/90/9/nDcQeA.jpg");
}

.cover-container {
	max-width: 42em;
}

.cover {
	padding: 0 1.5rem;
}
.cover .btn-lg {
	padding: 0.75rem 1.25rem;
	font-weight: 700;
}
